<div class="bg-[#6a040f] text-center text-[#f3eed9]">
  <h1 class="text-4xl font-mono italic">LET'S CELEBRATE</h1>
  <div class="mx-auto w-96">
    <%= render partial: 'svg/knlogo' %>
  </div>
  <h2 class="text-3xl font-mono">ON SUNDAY OCTOBER 22ND</h2>
</div>

<div>
  <p>The ceremony will take place in the Worship Center of the Church at 3PM.</p>
  <br>
  <p>There will be a dessert reception immediately following the ceremony. This will take place at the same location as the ceremony in the lobby. There will be soft drinks, water, coffee, and other non-alcoholic beverages to enjoy.</p>
  <br>
  <p>The event will end at 6:30PM. We look forward to seeing you there and celebrating with you!</p>
</div>

<div>
<h4>the wedding party</h4>

Bride’s side:
David Lopez - Man of Honor
Eli Johnson - Bridesman

Groom’s side:
Steven Sommer - Best Man
Tanner Luedtke - Groomsman
J.T Johnson - Groomsman
</div>

Hotels:

Courtyard by Marriott Denver Southwest/Littleton
3056 W County Line Rd, Littleton, CO 80129 • (303) 791-3001
~5.9 miles from the church~

Residence Inn by Marriott Denver Southwest/Littleton
3090 W County Line Rd, Littleton, CO 80129 • (303) 791-3010
~5.9 miles from the church~

Hampton Inn & Suites Denver/Highlands Ranch
3095 W County Line Rd, Highlands Ranch, CO 80129 • (303) 794-1800
~5.9 miles from the church~

Staybridge Suites Denver South - Highlands Ranch, an IHG Hotel
8211 Southpark Cir, Littleton, CO 80120 • (303) 347-9901
~5.9 miles from the church~

Fairfield Inn & Suites by Marriott Denver Tech Center/South
7056 E County Line Rd, Highlands Ranch, CO 80126 • (303) 290-6700
~1.2 miles from the church~

Comfort Suites Highlands Ranch Denver Tech Center Area
7060 E County Line Rd, Highlands Ranch, CO 80126 • (303) 770-5400
~1.2 miles from the church~