<div id="<%= dom_id invite %>">
  <p>
    <strong>Code:</strong>
    <%= invite.code %>
  </p>

  <p>
    <strong>Rsvped:</strong>
    <%= invite.rsvped %>
  </p>

  <p>
    <strong>Additions:</strong>
    <%= invite.additions %>
  </p>

</div>
