<div class="flex justify-center items-center lg:h-[40rem] text-[#f3eed9] w-3/4 mx-auto">
  <div class="flex flex-wrap justify-center gap-6">
      <div class="flex-grow text-lg font-semibold text-center p-6 max-w-xl border-[#ff776d] border-2">
        <h4>The ceremony will take place in the Worship Center of the Church at 3PM. <br><br>There will be a dessert
          reception immediately following the ceremony. This will take place at the same location as the ceremony in the
          lobby. There will be soft drinks, water, coffee, and other non-alcoholic beverages to enjoy. <br><br>The event
          will end at 6:30PM. We look forward to seeing you there and celebrating with you!</h4>
      </div>
  </div>
</div>