<div class="text-[#f3eed9] text-lg font-semibold overflow-x-hidden md:overflow-x-auto py-16 mx-auto">
  <div class="flex flex-col md:flex-row gap-10 items-center justify-center">
    <div class="flex flex-col gap-8 text-center md:text-right">
      <h2 class="text-7xl font-extrabold">Bride's side</h2>
      <ul>
        <li>David Lopez <span class="text-[#ff776d]">(</span>Man of Honor<span class="text-[#ff776d]">)</span></li>
        <li>Eli Johnson <span class="text-[#ff776d]">(</span>Bridesman<span class="text-[#ff776d]">)</span></li>
      </ul>
    </div>
    <div class="bg-[#ff776d] h-0.5 w-2/5 md:h-48 md:w-0.5"></div>
    <div class="flex flex-col gap-8 text-center md:text-left">
      <h2 class="block md:hidden text-7xl font-extrabold">Groom's side</h2>
      <ul>
        <li>Steven Sommer <span class="text-[#ff776d]"><span class="text-[#ff776d]">(</span></span>Best Man<span class="text-[#ff776d]">)</span></li>
        <li>Tanner Luedtke <span class="text-[#ff776d]">(</span>Groomsman<span class="text-[#ff776d]">)</span></li>
        <li>J.T Johnson <span class="text-[#ff776d]">(</span>Groomsman<span class="text-[#ff776d]">)</span></li>
      </ul>
      <h2 class="hidden md:block text-7xl font-extrabold">Groom's side</h2>
    </div>
  </div>
</div>