<div class="flex flex-col lg:flex-row justify-center items-center mx-auto gap-10 text-[#fefae0]">
  <%= image_tag('legacy_maps.png', class: 'max-w-[20rem] lg:max-w-[40rem] rounded-full') %>
  <div class="bg-[#ff776d] h-0.5 w-2/5 lg:h-48 lg:w-0.5"></div>
  <ul class="w-3/4 md:max-w-[35%]">
    <li class="text-6xl font-extrabold">Where At?</li>
    <li><br></li>
    <li class="text-5xl font-semibold">Legacy Chapel</li>
    <li class="text-2xl underline decoration-[#ff776d] font-extrabold italic">8140 S Holly St, Centennial, CO 80122</li>
    <li><br></li>
    <li class="text-2xl lg:text-4xl font-extrabold"><div class="flex gap-3">10 / 22 / 2023 <div class="bg-[#ff776d] h-[2rem] md:h-[2.5rem] w-0.5"></div> 3PM</div></li>
    <li><br></li>
    <li><br></li>
    <li><%= link_to 'Live Stream', 'https://www.youtube.com/@NateKiaraHamilton/live', class: "py-[1rem] px-[4rem] bg-gradient-to-r from-[#ff776d] to-[#00afff] rounded font-extrabold text-2xl" %></li>
  </ul>
  </div>
</div>