<div class="h-full flex flex-col justify-center">
  <div class="w-11/12 md:w-auto mx-auto text-center flex flex-col items-center gap-6 bg-[#f3eed9] px-8 py-12 text-[#6a040f] font-semibold border-opacity-5">
    <h1 class="text-4xl">Thanks!</h1>
    <h1 class="text-2xl">We hope to see you in October.</h1>
    <div>
      <div class="flex flex-col md:flex-row gap-6 max-w-xl text-2xl text-[#f3eed9] text-center">
        <%= link_to 'Home', '/home', class: "py-[1rem] px-[4rem] bg-[#6a040f] rounded font-extrabold text-2xl" %>
        <%= link_to 'Registry', 'https://registry.theknot.com/kiara-lopez-nathan-hamilton-october-2023-co/58850908', class: "py-[1rem] px-[4rem] bg-gradient-to-r from-[#ff776d] to-[#00afff] rounded font-extrabold", target: '_blank' %>
      </div>
    </div>
  </div>
</div>